<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>主程序-子程序软件体系结构</h1>
<div>文字说明</div>
<p th:text="${description}"></p>
<div>代码展示</div>
<pre th:text="${codeExample}"></pre>
<div>原理图</div>
<img th:src="@{/images/1.png}">
<form action="/run-main-progra" method="post" enctype="multipart/form-data">
    <input type="file" name="inputFile" required>
    <button type="submit">运行</button>
</form>

<div th:if="${result}">
    <h2>运行结果:</h2>
    <pre th:text="${result}"></pre>
</div>
<div th:if="${error}">
    <p style="color:red;" th:text="${error}"></p>
</div>
<a href="/">返回</a>

</body>
</html>
